.account .title h1{
  width: 99%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.account p {
  font-size: large;
}

.account button {
  background-color: #aef5c5;
  border: #aef5c5 solid 1px;
  padding: 15px;
  font-size: large;
  font-family: 'Josefin Sans', sans-serif;
  border-radius: 5px;
  width: 200px;
  margin: auto;
}

.account {
  margin: auto;
  width: 800px;
}

table, th, td {
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}